{% extends 'base-front.html.twig' %}

{% block body %}


    <script>
        var activities = document.getElementById("activite");
        activities.addEventListener("change", function() {
            location.href="/home/activite/" + activities.value;
        });
    </script>
    <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->

        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <th>Tel</th>
                <th>Activité</th>
            </tr>
            {% for t in type %}
                <tr>
                    <td>{{ t.nom }}</td>
                    <td>{{ t.tel }}</td>
                    <td>{{ t.activite }}</td>
                    <td><a href="/guide/delete/{{ t.id }}">Delete</a></td>
                    <td><a href="/guide/modify/{{ t.id }}">Modify</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

    </section>

{% endblock %}